body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    margin-top: 20px;
}

th, td {
    padding: 12px;
    border: 1px solid #ccc;
    text-align: center;
}

.total {
    text-align: right;
    margin-top: 20px;
    font-size: 1.2em;
}

.acciones {
    text-align: right;
    margin-top: 20px;
}

.btn-finalizar, .btn-eliminar {
    background-color: #28a745;
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
}

.btn-eliminar {
    background-color: #dc3545;
}
