body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    margin-top: 30px;
}

h1 {
    color: #2c3e50;
    font-weight: 600;
    text-align: center;
}



.btn-primary {
    background-color: #2980b9;
    border-color: #2980b9;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #3498db;
    border-color: #3498db;
}

.modal-content {
    border-radius: 8px;
    padding: 20px;
}

.modal-header {
    background-color: #2980b9;
    color: white;
    font-weight: bold;
}

.modal-footer .btn-secondary {
    background-color: #7f8c8d;
    border-color: #7f8c8d;
}

.modal-footer .btn-secondary:hover {
    background-color: #95a5a6;
    border-color: #95a5a6;
}

.back-button {
    display: inline-block;
    padding: 8px 15px;
    background-color: #F2A900;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.back-button:hover {
    background-color: #003366;
    color: white;
}

.card{
    background-color: #fff; 
    border-radius: 10px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    
    display: flex; 
    flex-direction: column; 
    justify-content:space-between;
}

.card-img-top { 
    max-width: 100%; 
    max-height: 190px; /* Ajusta la altura máxima de la imagen */ 
}