/* General styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f9;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  color: #0044cc;
  margin-bottom: 20px;
}

p {
  line-height: 1.6;
}

/* Container for both forms and lists */
.container {
  width: 90%;
  max-width: 800px;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

/* Form styles */
form {
  display: flex;
  flex-direction: column;
}

form input[type="text"],
form input[type="time"],
form input[type="date"],
form input[type="file"],
form textarea {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
}

form input[type="submit"] {
  background-color: #0044cc;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

form input[type="submit"]:hover {
  background-color: #003399;
}

/* Object list styles */
ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  background: #f8f8f8;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

ul li h3 {
  margin: 0 0 10px;
  font-size: 20px;
}

ul li img {
  width: 200px;
  height: auto;
  margin-top: 10px;
}

ul li p {
  margin: 0;
  font-size: 14px;
}

@media (max-width: 600px) {
  ul li img {
      width: 100%;
  }

  .container {
      width: 95%;
  }
}
