<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Tu Carrito</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='carrito.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <header>
        <h1>Carrito de Compras</h1>
        <nav>
            <a href="{{ url_for('catalogo.catalogo') }}"><i class="fas fa-arrow-left"></i> Volver al catálogo</a>
        </nav>
    </header>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul class="flashes">
          {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <main>
        {% if productos %}
        <table>
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                    <th>Subtotal</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                {% for item in productos %}
                <tr>
                    <td>{{ item.producto.nombreProducto }}</td>
                    <td>${{ item.precio }}</td>
                    <td>{{ item.cantidad }}</td>
                    <td>${{ item.subtotal }}</td>
                    <td>
                    <form action="{{ url_for('carrito.eliminar_del_carrito', producto_id=item.producto.idProducto) }}" method="POST" class="form-eliminar">
                        <label for="cantidad-eliminar-{{ item.producto.idProducto }}">Eliminar:</label>
                         <input type="number" name="cantidad" id="cantidad-eliminar-{{ item.producto.idProducto }}"
                          min="1" max="{{ item.cantidad }}" value="1" required>
                        <button type="submit" class="btn-eliminar"><i class="fas fa-trash"></i> Eliminar</button>
                    </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="total">
            <strong>Total: ${{ total }}</strong>
        </div>

        <div class="acciones">
            <form action="{{ url_for('webpay.crear_transaccion') }}" method="POST">
                <input type="hidden" name="buy_order" value="{{ buy_order }}">
                <input type="hidden" name="session_id" value="{{ current_user.idUsuario }}">
                <input type="hidden" name="amount" value="{{ total|int }}">
                <button type="submit" class="btn-finalizar">Finalizar Pedido</button>
            </form>
        </div>
        {% else %}
        <p>Tu carrito está vacío.</p>
        {% endif %}
    </main>
</body>
</html>
