<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>
<body>
    <header>
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <div>
                <h1>Bienvenido al Home</h1>
                <p>Desde aquí puedes acceder a las diferentes secciones de la aplicación.</p>
            </div>
            <div>
                <!-- Formulario de cierre de sesión -->
                <form action="{{ url_for('auth.logout') }}" method="POST">
                    <button type="submit" style="padding: 10px; font-size: 16px;">Cerrar Sesión</button>
                </form>
            </div>
        </div>
    </header>
    
    <nav>
        <ul>
            <li><a href="{{ url_for('listar.lista_objetos') }}">Observar Objetos perdidos</a></li>
            <li><a href="{{ url_for('objeto.subir_objeto') }}">Subir Objeto perdidos</a></li>
        </ul>
    </nav>
</body>
</html>
