<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Place Autocomplete Address Form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Ingreso_Direccion.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet">
</head>
<body>
    <form id="address-form" action="" method="get" autocomplete="off">
        <p class="title">ejemplo de direcciones chile</p>
        <p class="note"><em>* = campo requerido</em></p>

        <label class="full-field">
            <span class="form-label">enviar a *</span>
            <input id="ship-address" name="ship-address" required autocomplete="off"/>
        </label>

        <label class="full-field">
            <span class="form-label">Apartmento, unidad, departamento o piso #</span>
            <input id="address2" name="address2" />
        </label>

        <label class="full-field">
            <span class="form-label">ciudad*</span>
            <input id="locality" name="locality" required />
        </label>

        <label class="slim-field-start">
            <span class="form-label">Region*</span>
            <input id="state" name="state" required />
        </label>

        <label class="slim-field-end">
            <span class="form-label">Codigo postal*</span>
            <input id="postcode" name="postcode" required />
        </label>

        <label class="full-field">
            <span class="form-label">Pais</span>
            <input id="country" name="country" required />
        </label>

        <button type="button" class="my-button">Guardar direccion</button>
        <input type="reset" value="Clear form" />
    </form>
   
    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>