<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Historial de Objetos Perdidos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='listar.css') }}">
</head>
<body>
    <h1>Historial de Objetos Perdidos</h1>
    <a class="back-button" href="../home_usuario">Regresar</a>
    <ul>
        {% for objeto in objetos %}
            <li class="card">
                <div class="info">
                    <h3>{{ objeto.nombre_objeto or 'Nombre no disponible' }}</h3>
                    <p>{{ objeto.descripcion[:100] }}...</p>
                </div>
                <div class="image">
                    {% if objeto.foto %}
                        <img src="data:image/jpeg;base64,{{ objeto.foto | b64encode }}" alt="Imagen de {{ objeto.nombre_objeto }}" width="200">
                    {% else %}
                        <p>No hay imagen disponible</p>
                    {% endif %}
                </div>
            </li>
        {% else %}
            <li>No se encontraron objetos perdidos.</li>
        {% endfor %}
    </ul>
</body>
</html>
