<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Objetos Perdidos</title>
    <link rel="stylesheet"  href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Objetos Perdidos</h1>
        <ul class="object-list">
            {% for objeto in objetos %}
            <li class="object-item">
                <strong>Nombre:</strong> {{ objeto.nombre }}<br>
                <strong>Descripción:</strong> {{ objeto.descripcion }}<br>
                <strong>Sala encontrada:</strong> {{ objeto.sala_encontrada }}<br>
            </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>