<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Lista de Objetos Perdidos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='listar.css') }}">
</head>
<body>
    <h1>Objetos Perdidos</h1>
    <button type="button" class="back-button" onclick="window.history.back()">Regresar</button>
    <ul>
        {% for objeto in objetos %}
            <li class="card">
                <div class="info">
                    <h3>{{ objeto.nombre }}</h3>
                    <p>{{ objeto.descripcion }}</p>
                    <p>Sala: {{ objeto.sala_encontrada }}</p>
                    <p>Fecha encontrada: {{ objeto.fecha_encontrada }}</p>
                    <p>Hora encontrada: {{ objeto.hora_encontrada }}</p>
                </div>
                <div class="image">
                    {% if objeto.foto %}
                    <img src="data:image/jpeg;base64,{{ objeto.foto | b64encode }}" alt="Imagen de {{ objeto.nombre }}" width="200">
                    {% else %}
                        <p>No hay imagen</p>
                    {% endif %}
                </div>
            </li>
        {% else %}
            <li>No se encontraron objetos perdidos.</li>
        {% endfor %}
    </ul>
</body>
</html>
