<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subir Objeto Perdido</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Subir Objeto Perdido</h1>
    <form action="/subir_objeto" method="POST" enctype="multipart/form-data">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required><br>
    
        <label for="descripcion">Descripción:</label>
        <input type="text" id="descripcion" name="descripcion"><br>
    
        <label for="foto">Foto:</label>
        <input type="file" id="foto" name="foto"><br>
    
        <label for="sala_encontrada">Sala Encontrada:</label>
        <input type="text" id="sala_encontrada" name="sala_encontrada" required><br>
    
        <label for="hora_encontrada">Hora Encontrada:</label>
        <input type="time" id="hora_encontrada" name="hora_encontrada" required><br>
    
        <label for="fecha_encontrada">Fecha Encontrada:</label>
        <input type="date" id="fecha_encontrada" name="fecha_encontrada" required><br>
    
        <button type="submit">Subir Objeto</button>

        {% for objeto in objetos %}

        <form action="{{ url_for('objeto.eliminar_objeto', id=objeto.id) }}" method="POST" onsubmit="return confirm('¿Estás seguro de que deseas eliminar este objeto?');">
            <input type="submit" value="Eliminar" class="btn btn-danger">
        </form>

        {% endfor %}

    </form>    
</body>
</html>
